.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    
    img{
        width: 8%;
    }

    .navbar_icons{
        font-size: 50px;

        .navbar_icon {
            padding: 0 8%
        }
    }
}